In [1]:
import pandas as pd
import operator
from matplotlib import pyplot

In [2]:
# This is a variable 
variable = 'a'

In [3]:
variable

'a'

#### let's write a function that takes two number as input and returns their sum

In [30]:
def add_two(num1 = 4, num2 = 5):
    #print(num1, num2)
    return num1 + num2

In [31]:
def add_three(num1, num2):
    num3 = add_two()
    return num3*2

In [24]:
var_1a, var_1b, var_1c = add_two()
var_2 = add_two(10, 20)
var_1+var_2

(9,
 20,
 931322574615478515625,
 30,
 200,
 1073741824000000000000000000000000000000)

In [17]:
var_1a

9

In [18]:
var_1b

20

In [32]:
add_three(1, 1)

18

In [6]:
add_two('justin ', 'smells')

justin  smells

'justin smells'

In [ ]:
add_two(num2 = 8, num1 = 9)

In [ ]:
add_two()

#### now let's write a function to take two numbers as inputs and a third argument to define the operation to perform

In [33]:
def math_two(num1, num2, op='+'):
    if op == '+':
        return operator.add(num1, num2)
    if op == '*':
        return operator.mul(num1, num2)
    if op == '-':
        return operator.sub(num1, num2)
    if op == '/':
        return int(operator.truediv(num1, num2))
    else:
        return 'unknown operator'

In [37]:
math_two(4, 5, 'p')

'unknown operator'

In [ ]:
def test_print(val = 0):
    print(val)
    return val

In [ ]:
test = test_print()

In [ ]:
test

In [ ]:
math_two(5, op = '*', num2 = 8)

#### let's write a function to shout hello

In [ ]:
def shout_hello(name):
    return "HELLO " + name.upper() + "!!!"

In [ ]:
shout_hello('Mary')

#### write a function that takes a list of columns and returns a new list of columns
 - replace spaces with underscores 
 - make everything lower case

In [38]:
def fix_column(col):
    col = col.replace(' ', '_')
    col = col.lower()
    return col

In [39]:
column_list = ['First Name', 'Last Name', 'Date of Birth']

In [40]:
column_list[0] = fix_column(column_list[0])

In [41]:
column_list

['first_name', 'Last Name', 'Date of Birth']

In [ ]:
fix_column(column_list[0:2])