In [1]:
import pandas as pd

### Python can do math

In [2]:
1+1

2

In [3]:
# comment
# print(1+1)

In [4]:
# lots of math
(1+1%3**4)/5

0.4

### Data Types

In [5]:
type(1)

int

In [6]:
type(1.5)

float

In [29]:
type("1.5")

str

In [8]:
type(True)

bool

In [ ]:
'he\'s'

### What is a boolean?

A boolean is essentially a question about the relationship between two objects

###  What returns a boolean?

In [9]:
1 == 1

True

In [10]:
'a' == 'a'

True

In [11]:
'b' == 'c'

False

In [12]:
'b' != 'c'

True

In [13]:
5 > 3

True

In [14]:
6 >= 6

True

In [15]:
6 < 6

False

In [16]:
'car' in 'racecar'

True

In [17]:
'black' not in 'white'

True

In [18]:
'1' in '123'

True

In [28]:
1 == int('1')

True

### Converting between types

In [20]:
float(1)

1.0

In [21]:
str(1)

'1'

In [25]:
int(True)

1

In [23]:
int(False)

0

In [26]:
str(True)

'True'

In [27]:
int('9')

9

In [33]:
'hello ' + 'justin'

'hello justin'

In [35]:
var_1 = 'hello '
var_2 = 'justin'
var_3 = var_1 + var_2

In [36]:
var_3

'hello justin'

---

In [ ]:
int('a')

In [ ]:
int(1.5)

In [ ]:
int(1.7)

In [ ]:
int(3.4)

In [ ]:
round(3.4)

In [ ]:
round(1.5)

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool(4)

In [ ]:
bool(-4)

In [ ]:
bool('False')

In [ ]:
type(False)

In [ ]:
bool('123')

### More types: lists

lists are collection of things

In [37]:
list_1 = [1, 2, 3] 
list_2 = [1.2, 3.4, 5.6]
list_3 = ['a', 'b', 'c']
list_4 = [True, True, False]
list_5 = [1, 2.3, 'b', 'True', False]
print(list_1, list_2, list_3, list_4, list_5)

[1, 2, 3] [1.2, 3.4, 5.6] ['a', 'b', 'c'] [True, True, False] [1, 2.3, 'b', 'True', False]

In [38]:
type(list_1)

list

listception

In [39]:
lol = [list_1, list_2, list_3, list_4, list_5]
print(lol)

[[1, 2, 3], [1.2, 3.4, 5.6], ['a', 'b', 'c'], [True, True, False], [1, 2.3, 'b', 'True', False]]

"math" on lists?!

In [40]:
list_6 = list_1 + list_5
list_6

[1, 2, 3, 1, 2.3, 'b', 'True', False]

In [41]:
another_list = [4, 5, 6]
list_1 + another_list

[1, 2, 3, 4, 5, 6]

In [42]:
list_7 = list_3*3
list_7

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [45]:
list_8 = list_4 + '4'
list_8

TypeError: can only concatenate list (not "str") to list

In [46]:
list_9 = list_4 + [4]
list_9

[True, True, False, 4]

In [48]:
list_9[2]

False

### Even more types: dictionaries

dictionaries are collections of pairs of items. The first item in the pair is the look up, the second item is the saved value. This is similar to looking up a word in an **_actual_** dictionary for the definition. The pairs are called **key:value** pairs.

In [49]:
dic_1 = {'python':'a big snake'}
dic_1

{'python': 'a big snake'}

In [50]:
# subsetting
# referencing a value stored in the dictionary
dic_1['python']

'a big snake'

In [59]:
sample_df = pd.DataFrame([[1, 2, 3], [3, 4, 5], [4, 5, 6]])

In [60]:
sample_df

   0  1  2
0  1  2  3
1  3  4  5
2  4  5  6

To rename columns you can use _df.rename()_. This function uses a **dictionary** to change column names

In [65]:
renamed_df = sample_df.rename(columns={0:'col_1', 1:'col_2', 2: 'col_3'})

In [68]:
# renamed_df.columns = ['col_a', 'col_b']

In [66]:
renamed_df

   col_1  col_2  col_3
0      1      2      3
1      3      4      5
2      4      5      6

---

### Try these things out

In [ ]:
dic_1['long_list'] = list_7

In [ ]:
dic_1

In [ ]:
dic_1['black'] = 'green'

In [ ]:
dic_1['blank'] = 'something'

In [ ]:
dic_1

In [ ]:
del dic_1['blank']

In [ ]:
dic_1

In [ ]:
print(dic_1)

In [ ]:
# access keys
dic_1.keys()

In [ ]:
# access valus
dic_1.values()